APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:kmg9XiM74cqZqwBCG/DC8kEhad04PPArvC1KIDCT4W0=
APP_DEBUG=false
APP_URL=https://2mzwa4ok26.execute-api.us-east-1.amazonaws.com

LOG_CHANNEL=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=vue-template.csnec00g2447.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=vue_template
DB_USERNAME=vapor
DB_PASSWORD=FKqdYjC59dAbjSfO6ReaTBADkltOb0OLkQYDYIx4

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


DARK_SKY_KEY=50f86958e0582bbaafc9aaa786c7660f

OPENAI_SECRET=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

OPENAI_ORGANISATION=org-9ekJNpNSFKLyQcnsWRBPGdhG


REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
