/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.production
.env.example
deploy.bat
serverless.yml
/serverless
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
vue_template_dump.sql
laravel-inertia-app.zip
cloudformation-template-update-stack.json
meta.json
serverless-state.json
